/*

header{
    background-color: rgba(190, 161, 157);
}

*******/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Melodrama', serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
        font-size: 1.5em;
    font-weight: 400;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1.5px solid black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: black;
    font-family: "Inter", sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: white;
    color: black;     
    border-color: white;       
}

.container{
    max-width: 1400px;
    margin: auto;
}


header{
    background-color:white;
    
}

header a:hover{
    transform: scale(1.1);
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .logo img {
    width: 140px; /* ajusta según tu diseño */
    height: 120px;
    border-radius: 50%; /* si querés que sea redondo */
    object-fit: cover;
}


header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: 400;
    color: rgb(84, 84, 84);
    display: inline-block;
    font-family: "Inter", sans-serif;
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/fotopiel-rutina-de-skincare-cuidado-facial.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    font-family: 'Cormorant Garamond';
    font-weight: 600;
}

#hero button{
    font-size: 1.75em;
}

#infocosmet .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 60px 12px; /* reduce padding para que no empuje la imagen */
  background: none !important; /* ANULA cualquier background previo */
  height: auto !important;       /* ANULA heights previos */
  box-sizing: border-box;
}

#infocosmet .img-container {
  background-image: url("media/procedimientos-de-cosmetologia.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 900px; /* limita crecimiento en mobile/tablet */
  height: 260px;
  border-radius: 10px;
  flex: 0 0 auto; /* no dejar que flex la estire indebidamente */
  overflow: hidden;
}

#Tratamientos{
    background-color: black;  
    color: white;
    text-align: center;
}

#Tratamientos .container{
    padding: 150px 12px;
}

#Tratamientos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Tratamientos p{
    display: none;
}

#Tratamientos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Tratamientos-3.jpeg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Tratamientos-2.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Tratamientos-1.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
                background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/beneficios-de-la-cosmetologia.jpg");
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#caracteristicas .contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 0.9rem;
}

#caracteristicas .contact-info div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#caracteristicas .contact-info a {
    color: #e94b6d;
    text-decoration: none;
}

#caracteristicas .icon {
    font-size: 1.3rem;
}

/* Right side (map) */
#caracteristicas .contact-map {
    flex: 1;
    position: relative;
    background-color: #092B40;
}

#caracteristicas .contact-map iframe {
    width: 100%;
    height: 100%;
    border: none;
    filter: grayscale(1) brightness(0.9);
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#agenda-ya{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
    height: 80vh;
}

#agenda-ya h2{
    font-size: 9vw;
}

#agenda-ya button{
    font-size: 5vw;
}

footer{
    background-color: rgb(26, 24, 24);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #infocosmet .container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding: 80px 60px;
    }

    #infocosmet .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #infocosmet h2{
        margin-top: 0px;
    }

    #infocosmet .img-container {
    background-image: url("media/procedimientos-de-cosmetologia.jpg");
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    flex: 0 0 auto; /* no dejar que flex la estire indebidamente */
    overflow: hidden;
}

    #Tratamientos .container{
        display: flex;
        justify-content: center;
    }

    #Tratamientos p{
        display: block;
        margin-bottom: 30px;
    }

    #Tratamientos h2{
        font-size: 4em;
    }

    #Tratamientos h3{
        margin-top: 0;
    }

    #Tratamientos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/front-end-cropped.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/full-stack-cropped.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/python-cropped.jpg");

    }

    #caracteristicas{

    }

    #caracteristicas .container{
        text-align: initial;
    }

    
    #caracteristica .contact-map {
    height: 300px;
    }

    #caracteristica .contact-form {
    padding: 40px 25px;
    }



    #caracteristicas ul{
        margin-left: 100px;
    }

    #agenda-ya h2{
        font-size: 5em;
    }

    #agenda-ya button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}